# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [10]:
#importing Libraries

import selenium
import pandas as pd
from bs4 import BeautifulSoup

In [11]:
# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

In [12]:
#importing requests
import requests
#importing Regex
import re

In [13]:
import warnings
warnings.filterwarnings('ignore')
import time

In [14]:
# let's first connect to the web driver
driver = webdriver.Chrome('Chromedriver')
time.sleep(3)

In [155]:
# Opening the homepage
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [156]:
#create empty lists
Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [157]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [ ]:
len(Rank)

In [159]:
#scrapping name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

In [160]:
len(Name)

30

In [161]:
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

In [162]:
len(Artist)

30

In [163]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos

In [164]:
len(UploadDate)

30

In [165]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [166]:
len(Views)

30

In [167]:

# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [168]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.13
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.07
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.89
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.80
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.79
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.66
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.21
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.81
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.72
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.71
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.71
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.44
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.43
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.39
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.37
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.36
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.35
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.32
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.26

In [169]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/. You need to find following details:

##### A) Match title (I.e. 1st ODI)
##### B) Series
##### C) Place
##### D) Date
##### E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
#importing necessary libraries
import selenium
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By


import requests
import re    #regex
import warnings
import time


from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [16]:
# let's first connect to the web driver
driver = webdriver.Chrome('Chromedriver')
time.sleep(3)

In [171]:

# Opening the homepage
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [172]:
#clicking on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [173]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [174]:
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

In [175]:
print(Name)

['1st Test ', '1st T20I ', '2nd T20I ', '2nd Test ', '3rd T20I ', '4th T20I ', '3rd Test ', '4th Test ']

In [176]:
len(Name)

8

In [177]:
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [178]:
print(Series)

['AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23', 'ICC WOMENS T20 WORLD CUP 2023', 'ICC WOMENS T20 WORLD CUP 2023', 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23', 'ICC WOMENS T20 WORLD CUP 2023', 'ICC WOMENS T20 WORLD CUP 2023', 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23', 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23']

In [179]:
len(Series)

8

In [180]:
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text.replace(',',""))
except NoSuchElementException:
    Place.append('-')

In [181]:
print(Place)

['Vidarbha Cricket Association Stadium', 'Newlands', 'Newlands', 'Arun Jaitley Stadium', "St George's Park", "St George's Park", 'Himachal Pradesh Cricket Association Stadium', 'Narendra Modi Stadium']

In [182]:
len(Place)

8

In [183]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [184]:
print(Date)

['9 FEB 2023', '12 FEB 2023', '15 FEB 2023', '17 FEB 2023', '18 FEB 2023', '20 FEB 2023', '1 MAR 2023', '9 MAR 2023']

In [185]:
len(Date)

8

In [186]:
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [187]:
print(Time)

['9:30 AM ', '6:30 PM ', '6:30 PM ', '9:30 AM ', '6:30 PM ', '6:30 PM ', '9:30 AM ', '9:30 AM ']

In [188]:
len(Time)

8

In [72]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,1st Test,Vidarbha Cricket Association Stadium,9 FEB 2023,9:30 AM
1,ICC WOMENS T20 WORLD CUP 2023,1st T20I,Newlands,12 FEB 2023,6:30 PM
2,ICC WOMENS T20 WORLD CUP 2023,2nd T20I,Newlands,15 FEB 2023,6:30 PM
3,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,2nd Test,Arun Jaitley Stadium,17 FEB 2023,9:30 AM
4,ICC WOMENS T20 WORLD CUP 2023,3rd T20I,St George's Park,18 FEB 2023,6:30 PM
5,ICC WOMENS T20 WORLD CUP 2023,4th T20I,St George's Park,20 FEB 2023,6:30 PM
6,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,3rd Test,Himachal Pradesh Cricket Association Stadium,1 MAR 2023,9:30 AM
7,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,4th Test,Narendra Modi Stadium,9 MAR 2023,9:30 AM

In [189]:
driver.close()

### 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
##### A) Rank
##### B) State
##### C) GSDP(18-19)- at current prices
##### D) GSDP(19-20)- at current prices
##### E) Share(18-19)
##### F) GDP ($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [212]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

In [213]:
# Opening the homepage
url = "http://statisticstimes.com/"
driver.get(url)

In [214]:
#clicking on Economy page tab
Economy= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button/i') # click button
Economy.click()

In [215]:
#clicking on INDIA tab in dropdown
India= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click() # click button

In [216]:
# click the GDPofIndianStates
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [217]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [218]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

In [220]:
driver.close()

### 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/ You have to find the following details:

##### A) Repository title
##### B) Repository description
##### C) Contributors count
##### D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
#importing necessary libraries
import selenium
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By


import requests
import re    #regex
import warnings
import time


from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [53]:
# let's first connect to the web driver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(3)


# Getting the webpage of mentioned url 
url = " https://github.com/"
driver.get(url)

In [56]:
#click the triple dash (More Dropdown) 
More=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#Clckiing Trending Tab
Trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [57]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [60]:
#Scrape Repository Title
title=[]
try:
    titles=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for x in titles:
        title.append(x.text.replace(' /',''))
except NoSuchElementException:
    title.append('-')
except StaleElementReferenceException:
    title.append('-')
print(len(title),title)

25 ['snesrev', 'transitive-bullshit', 'microsoft', 'microsoft', 'bnb-chain', 'krahets', 'damus-io', 'techiescamp', 'iperov', 'microsoft', 'varunshenoy', 'apitable', 'golang', 'karpathy', 'wangrongding', 'mtdvio', 'studio-freight', 'archinetai', 'triggerdotdev', 'nostr-protocol', 'waylaidwanderer', 'acheong08', 'dair-ai', 'ossu', 'GitHubDaily']

In [65]:

# Scraping data from all repository page

Description=[]
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')

In [66]:
Description

['-',
 'Node.js client for the unofficial ChatGPT API. 🔥',
 'Windows system utilities to maximize productivity',
 'Windows Package Manager CLI (aka winget)',
 'Whitepaper for Greenfield, the decentralized data economy',
 '《Hello 算法》一本动画图解、能运行、可提问的数据结构与算法入门书，支持 Java, C++, Python, Go, JS, TS, C#, Swift 等语言。',
 'iOS nostr client',
 'A roadmap to learn Kubernetes from scratch (Beginner to Advanced level)',
 'Real-time face swap for PC streaming or video calls',
 '-',
 'Extrapolating knowledge graphs from unstructured text using GPT-3 🕵️\u200d♂️',
 '🚀🎉📚 APITable, an API-oriented low-code platform for building collaborative apps and better than all other Airtable open-source alternatives.',
 'The Go programming language',
 'The simplest, fastest repository for training/finetuning medium-sized GPTs.',
 '🤖一个基于OpenAi ChatGPT + WeChaty 实现的微信机器人 ，可以用来帮助你自动回复微信消息，或者管理微信群/好友，检测僵尸粉等...',
 'A collection of (mostly) technical things every software developer should know about',
 'How smooth scroll should be',
 'A timeline of the latest AI models for audio generation, starting in 2023!',
 '✨ Trigger.dev is an open-source platform that makes it easy for developers to create event-driven background tasks directly in their code.',
 'a truly censorship-resistant alternative to Twitter that has a chance of working',
 "A ChatGPT implementation using the official ChatGPT model via OpenAI's API.",
 'Reverse engineered ChatGPT API. Uses official model same as the website.',
 '🐙 Guide and resources for prompt engineering',
 '🎓 Path to a free self-taught education in Computer Science!',
 '坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A list cool, interesting projects of GitHub.']

In [67]:
len(Description)

25

In [ ]:
print(len(title),len(Description))

In [81]:
#Data Frame
Github=pd.DataFrame({})
Github['Repository title'] = title
Github['Repository description'] = Description
Github

       Repository title                             Repository description
0               snesrev                                                  -
1   transitive-bullshit   Node.js client for the unofficial ChatGPT API. 🔥
2             microsoft  Windows system utilities to maximize productivity
3             microsoft           Windows Package Manager CLI (aka winget)
4             bnb-chain  Whitepaper for Greenfield, the decentralized d...
5               krahets  《Hello 算法》一本动画图解、能运行、可提问的数据结构与算法入门书，支持 Java, C...
6              damus-io                                   iOS nostr client
7           techiescamp  A roadmap to learn Kubernetes from scratch (Be...
8                iperov  Real-time face swap for PC streaming or video ...
9             microsoft                                                  -
10          varunshenoy  Extrapolating knowledge graphs from unstructur...
11             apitable  🚀🎉📚 APITable, an API-oriented low-code platfor...
12               golang                        The Go programming language
13             karpathy  The simplest, fastest repository for training/...
14         wangrongding  🤖一个基于OpenAi ChatGPT + WeChaty 实现的微信机器人 ，可以用来帮助...
15               mtdvio  A collection of (mostly) technical things ever...
16       studio-freight                        How smooth scroll should be
17           archinetai  A timeline of the latest AI models for audio g...
18        triggerdotdev  ✨ Trigger.dev is an open-source platform that ...
19       nostr-protocol  a truly censorship-resistant alternative to Tw...
20      waylaidwanderer  A ChatGPT implementation using the official Ch...
21            acheong08  Reverse engineered ChatGPT API. Uses official ...
22              dair-ai       🐙 Guide and resources for prompt engineering
23                 ossu  🎓 Path to a free self-taught education in Comp...
24          GitHubDaily  坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A...

In [85]:
#make csv file
Github.to_csv('trending repositories.csv')

In [86]:
driver.close()

### 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ You have to find the following details:

#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [135]:
#open web driver
driver=webdriver.Chrome(r"ChromeDriver")

In [140]:
url='https://www.billboard.com/'
driver.get(url)

In [144]:
#Clicking on cHART tab
hot=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [145]:
#Clicking on HOT100 tab
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [146]:
# Creating empty lists
Song_Name = []
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [147]:
Song_Name

['Flowers\nMiley Cyrus\n1\n1\n2',
 'Kill Bill\nSZA\n2\n2\n7',
 'Anti-Hero\nTaylor Swift\n3\n1\n14',
 "Creepin'\nMetro Boomin, The Weeknd & 21 Savage\n4\n4\n8",
 'Unholy\nSam Smith & Kim Petras\n5\n1\n18',
 "I'm Good (Blue)\nDavid Guetta & Bebe Rexha\n6\n4\n22",
 'Die For You\nThe Weeknd\n7\n6\n26',
 'Rich Flex\nDrake & 21 Savage\n8\n2\n12',
 'As It Was\nHarry Styles\n10\n1\n43',
 'Golden Hour\nJVKE\n11\n10\n22',
 'Something In The Orange\nZach Bryan\n13\n10\n40',
 'Just Wanna Rock\nLil Uzi Vert\n16\n12\n15',
 'Bzrp Music Sessions, Vol. 53\nBizarrap & Shakira\n9\n9\n2',
 'Made You Look\nMeghan Trainor\n15\n12\n14',
 'Cuff It\nBeyonce\n17\n10\n24',
 'Under The Influence\nChris Brown\n14\n12\n20',
 'Bad Habit\nSteve Lacy\n12\n1\n30',
 'Thank God\nKane Brown With Katelyn Brown\n19\n17\n20',
 'Rock And A Hard Place\nBailey Zimmerman\n21\n17\n33',
 'You Proof\nMorgan Wallen\n20\n5\n37',
 'Superhero (Heroes & Villains)\nMetro Boomin, Future & Chris Brown\n18\n8\n8',
 'Escapism\nRAYE Featuring 070 Shake\n22\n22\n8',
 'Wait In The Truck\nHARDY Featuring Lainey Wilson\n37\n23\n21',
 'I Like You (A Happier Song)\nPost Malone Featuring Doja Cat\n24\n3\n31',
 'Going, Going, Gone\nLuke Combs\n26\n25\n11',
 'Shirt\nSZA\n23\n11\n13',
 'Thought You Should Know\nMorgan Wallen\n31\n12\n24',
 'Calm Down\nRema & Selena Gomez\n35\n28\n21',
 'Until I Found You\nStephen Sanchez\n28\n23\n30',
 'Lavender Haze\nTaylor Swift\n34\n2\n14',
 'Snooze\nSZA\n32\n29\n7',
 'Bebe Dame\nFuerza Regida X Grupo Frontera\n25\n25\n5',
 'Heart Like A Truck\nLainey Wilson\n33\n32\n11',
 'Wait For U\nFuture Featuring Drake & Tems\n27\n1\n36',
 'The Kind Of Love We Make\nLuke Combs\n38\n8\n27',
 'Super Freaky Girl\nNicki Minaj\n29\n1\n24',
 'Tomorrow 2\nGloRilla & Cardi B\n30\n9\n18',
 'Nobody Gets Me\nSZA\n36\n10\n7',
 'Sure Thing\nMiguel\n42\n36\n26',
 'What My World Spins Around\nJordan Davis\n40\n40\n24',
 'She Had Me At Heads Carolina\nCole Swindell\n44\n16\n31',
 'Sunroof\nNicky Youre & dazy\n41\n4\n31',
 'Unstoppable\nSia\n43\n28\n24',
 'Lift Me Up\nRihanna\n39\n2\n13',
 "I Ain't Worried\nOneRepublic\n45\n6\n29",
 'Whiskey On You\nNate Smith\n51\n44\n32',
 'Low\nSZA\n46\n17\n7',
 'About Damn Time\nLizzo\n49\n1\n37',
 'Players\nCoi Leray\n54\n49\n4',
 'Vegas\nDoja Cat\n48\n10\n30',
 'Que Vuelvas\nCarin Leon X Grupo Frontera\n50\n50\n5',
 'Knight Crawler\nTrippie Redd & Juice WRLD\n-\n52\n1',
 'Tennessee Orange\nMegan Moroney\n53\n53\n7',
 'Bloody Mary\nLady Gaga\n57\n54\n4',
 "What He Didn't Do\nCarly Pearce\n60\n55\n6",
 'Nonsense\nSabrina Carpenter\n75\n56\n2',
 'Blind\nSZA\n52\n12\n7',
 'Forget Me\nLewis Capaldi\n63\n58\n11',
 'Handle On You\nParker McCollum\n58\n58\n4',
 'Here With Me\nd4vd\n66\n60\n4',
 'Wild As Her\nCorey Kent\n70\n61\n16',
 'Freestyle\nLil Baby\n69\n62\n17',
 'The Color Violet\nTory Lanez\n71\n63\n4',
 'Red\nHARDY Featuring Morgan Wallen\n-\n64\n1',
 'No Se Va\nGrupo Frontera\n62\n57\n16',
 'Spin Bout U\nDrake & 21 Savage\n64\n5\n12',
 'Love Language\nSZA\n61\n21\n7',
 'Snap\nRosa Linn\n67\n67\n13',
 'La Bachata\nManuel Turizo\n72\n67\n19',
 'Love You Better\nFuture\n79\n12\n11',
 'Too Many Nights\nMetro Boomin Featuring Don Toliver & Future\n77\n22\n8',
 '10:35\nTiesto Featuring Tate McRae\n-\n72\n1',
 'One Thing At A Time\nMorgan Wallen\n82\n37\n8',
 'Half Of Me\nThomas Rhett Featuring Riley Green\n73\n52\n20',
 'La Jumpa\nArcangel & Bad Bunny\n78\n68\n6',
 'Shut Up My Moms Calling\nHotel Ugly\n68\n68\n4',
 "You Didn't\nBrett Young\n99\n77\n3",
 'Circo Loco\nDrake & 21 Savage\n74\n8\n12',
 'OMG\nNewJeans\n91\n79\n2',
 "Star Walkin' (League Of Legends Worlds Anthem)\nLil Nas X\n65\n32\n18",
 'I Wish You Roses\nKali Uchis\n-\n81\n1',
 'Gangsta Boo\nIce Spice & Lil Tjay\n-\n82\n1',
 'Heart To Heart\nMac DeMarco\n98\n83\n2',
 'Moonlight Sunrise\nTWICE\n-\n84\n1',
 'Gato de Noche\nNengo Flow & Bad Bunny\n80\n60\n5',
 'Fully Loaded\nTrippie Redd, Future & Lil Baby\n-\n86\n1',
 'Seek & Destroy\nSZA\n81\n24\n7',
 "That's What Tequila Does\nJason Aldean\n92\n88\n3",
 'Ditto\nNewJeans\n85\n85\n3',
 'Krzy Train\nTrippie Redd & Travis Scott\n-\n90\n1',
 'Next Thing You Know\nJordan Davis\n-\n91\n1',
 'AMG\nGabito Ballesteros, Peso Pluma & Natanael Cano\n-\n92\n1',
 'Ghost In The Machine\nSZA Featuring Phoebe Bridgers\n84\n40\n7',
 'California Breeze\nLil Baby\n97\n4\n11',
 'Human\nCody Johnson\n94\n94\n2',
 'Do It Again\nNLE Choppa & 2Rare\n-\n96\n1',
 'Miss You\nOliver Tree & Robin Schulz\n96\n84\n9',
 'Back End\nFinesse2Tymes\n-\n98\n1',
 'Open Arms\nSZA Featuring Travis Scott\n89\n54\n6',
 'Spit In My Face!\nThxSoMch\n-\n100\n1']

In [167]:
Artist_Name=[]
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

In [168]:
len(Artist_Name)

100

In [169]:
Artist_Name

['Miley Cyrus',
 'SZA',
 'Taylor Swift',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Sam Smith & Kim Petras',
 'David Guetta & Bebe Rexha',
 'The Weeknd',
 'Drake & 21 Savage',
 'Harry Styles',
 'JVKE',
 'Zach Bryan',
 'Lil Uzi Vert',
 'Bizarrap & Shakira',
 'Meghan Trainor',
 'Beyonce',
 'Chris Brown',
 'Steve Lacy',
 'Kane Brown With Katelyn Brown',
 'Bailey Zimmerman',
 'Morgan Wallen',
 'Metro Boomin, Future & Chris Brown',
 'RAYE Featuring 070 Shake',
 'HARDY Featuring Lainey Wilson',
 'Post Malone Featuring Doja Cat',
 'Luke Combs',
 'SZA',
 'Morgan Wallen',
 'Rema & Selena Gomez',
 'Stephen Sanchez',
 'Taylor Swift',
 'SZA',
 'Fuerza Regida X Grupo Frontera',
 'Lainey Wilson',
 'Future Featuring Drake & Tems',
 'Luke Combs',
 'Nicki Minaj',
 'GloRilla & Cardi B',
 'SZA',
 'Miguel',
 'Jordan Davis',
 'Cole Swindell',
 'Nicky Youre & dazy',
 'Sia',
 'Rihanna',
 'OneRepublic',
 'Nate Smith',
 'SZA',
 'Lizzo',
 'Coi Leray',
 'Doja Cat',
 'Carin Leon X Grupo Frontera',
 'Trippie Redd & Juice WRLD',
 'Megan Moroney',
 'Lady Gaga',
 'Carly Pearce',
 'Sabrina Carpenter',
 'SZA',
 'Lewis Capaldi',
 'Parker McCollum',
 'd4vd',
 'Corey Kent',
 'Lil Baby',
 'Tory Lanez',
 'HARDY Featuring Morgan Wallen',
 'Grupo Frontera',
 'Drake & 21 Savage',
 'SZA',
 'Rosa Linn',
 'Manuel Turizo',
 'Future',
 'Metro Boomin Featuring Don Toliver & Future',
 'Tiesto Featuring Tate McRae',
 'Morgan Wallen',
 'Thomas Rhett Featuring Riley Green',
 'Arcangel & Bad Bunny',
 'Hotel Ugly',
 'Brett Young',
 'Drake & 21 Savage',
 'NewJeans',
 'Lil Nas X',
 'Kali Uchis',
 'Ice Spice & Lil Tjay',
 'Mac DeMarco',
 'TWICE',
 'Nengo Flow & Bad Bunny',
 'Trippie Redd, Future & Lil Baby',
 'SZA',
 'Jason Aldean',
 'NewJeans',
 'Trippie Redd & Travis Scott',
 'Jordan Davis',
 'Gabito Ballesteros, Peso Pluma & Natanael Cano',
 'SZA Featuring Phoebe Bridgers',
 'Lil Baby',
 'Cody Johnson',
 'NLE Choppa & 2Rare',
 'Oliver Tree & Robin Schulz',
 'Finesse2Tymes',
 'SZA Featuring Travis Scott',
 'ThxSoMch']

In [171]:
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [172]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [173]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [174]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [175]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Flowers\nMiley Cyrus\n1\n1\n2,Miley Cyrus,1,1,2
1,Kill Bill\nSZA\n2\n2\n7,SZA,2,2,7
2,Anti-Hero\nTaylor Swift\n3\n1\n14,Taylor Swift,3,1,14
3,"Creepin'\nMetro Boomin, The Weeknd & 21 Savage...","Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy\nSam Smith & Kim Petras\n5\n1\n18,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again\nNLE Choppa & 2Rare\n-\n96\n1,NLE Choppa & 2Rare,-,82,1
96,Miss You\nOliver Tree & Robin Schulz\n96\n84\n9,Oliver Tree & Robin Schulz,,,
97,Back End\nFinesse2Tymes\n-\n98\n1,Finesse2Tymes,98,83,2
98,Open Arms\nSZA Featuring Travis Scott\n89\n54\n6,SZA Featuring Travis Scott,,,
99,Spit In My Face!\nThxSoMch\n-\n100\n1,ThxSoMch,-,84,1

In [176]:
driver.close()

### 6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey%02compare/ You have to find the following details:

#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre

In [24]:
#importing Libraries

import selenium
import pandas as pd
from bs4 import BeautifulSoup

In [25]:
# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

In [26]:
#importing requests
import requests
#importing Regex
import re

In [29]:
# let's first connect to the web driver
driver = webdriver.Chrome("ChromeDriver")
time.sleep(3)

C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_15556/3170229417.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("ChromeDriver")

In [30]:
# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [31]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [32]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [33]:

print(len(Bookname),len(Authorname),len(Volumessold),len(Publisher),len(Genre))

100 100 100 100 100

In [34]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [35]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [37]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [38]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [39]:
print(len(Name),len(Year_span),len(Run_time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [40]:
series=pd.DataFrame({})
series['Name'] = Name
series['Year Span'] = Year_span
series['Genre'] = Genre
series['Run Time'] = Run_time
series['Ratings'] = Ratings
series['Votes'] = Votes
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,119,156"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,207,969"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,004,729"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"296,633"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"255,570"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,670"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,541"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,403"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,993"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,146"

In [43]:
series. to_csv("SeriesOfALLTime.csv")

In [44]:
driver.close()

### 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [45]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)

C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_15556/4124186306.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Sunny\Downloads\chromedriver_win32\chromedriver.exe")

In [46]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [47]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [48]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [49]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [50]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [51]:
# Creating dataframe 

MachineLearning=pd.DataFrame({})
MachineLearning['Data Name'] = Dataset_name[:622]
MachineLearning['Data Type'] = Data_type[:622]
MachineLearning['Task'] = Task[:622]
MachineLearning['Attribute type'] = Attribute_type[:622]
MachineLearning['No of instance'] = No_of_instances[:622]
MachineLearning['No of attributes'] = No_of_attributes[:622]
MachineLearning['Year'] = Year[:622]
MachineLearning

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [52]:
driver.close()

In [8]:
# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)